{% extends 'base.html.twig' %}

{% block title %}Modifier un article{% endblock %}

{% block body %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4" style="max-width: 450px; margin-left: 0;">
                <h1 class="mt-4">Modifier l'article</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="{{ path('app_article_list') }}">Liste des Articles</a></li>
                    <li class="breadcrumb-item active">Créer un article</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-body">
                        {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <br>
                            <button class="btn btn-primary">Mettre à jour</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
